<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>342006480739-o2ece6sn9i8ei1o0b36c68vji366qv4p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.342006480739-o2ece6sn9i8ei1o0b36c68vji366qv4p</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>342006480739-qkf5b7q1spmf2apkdspinogbigtkfpsl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAw07hHQMAmieHdeKiZ5_mmEaLP6aTOYfE</string>
	<key>GCM_SENDER_ID</key>
	<string>342006480739</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.delorts</string>
	<key>PROJECT_ID</key>
	<string>delorts-d0f1b</string>
	<key>STORAGE_BUCKET</key>
	<string>delorts-d0f1b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:342006480739:ios:1a5a510f81f43067c91d56</string>
</dict>
</plist>